/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.light-blue {
    position: fixed;
    z-index: 100;
}


/* .l-wrap {
        max-width: 1140px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .row .col .card {
        width: 380px;
        float: left;
    }
    
    .row .col .card:after {
        display: table;
        clear: both;
        content: '';
    }
    
    @mixin clearfix {
        &:after {
            display: table;
            clear: both;
            content: '';
        }
    }
    
    .row .col .card {
        @include clearfix;
    }
    
    .card {
        margin-right: 20px;
        float: left;
    }
    
    .card {
        width: calc((100% - 20px * 2) / 3);
        /* other properties */


/* }
.card:last-child {
    margin-right: 0;
    float: right;
}
.card:nth-child(3n+3) {
    margin-right: 0;
    float: right;
}
*/